body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	min-width: 0;
	overflow-y: auto;
}

aside {
	flex: 1;
	min-width: 0;
	overflow-y: auto;
}
